<div class="container">
  <form>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="address" name="address" required placeholder="address"/>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-sm btn-success" id="check_balance">Check Balance</button>
      </div>
      <div class="col-sm-2">
        <span id="balance_data" style="color:#000000;"></span>
      </div>
    </div>
</div>

<script>

$('#check_balance').click(function(e){
  var address = $("#address").val();
  $.ajax({
    type: "GET",
    url: "/checkbalance/" + address,
    success: function(data) {
      $('#balance_data').html('<strong>' + data.balance + ' FakeCova' + '</strong>');
    },
    error: function(err){
      $('#balance_data').text('Failed to check balance. Please try again!');
    }
  })
});


</script>
