<header class="header_wrap fixed-top">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand page-scroll animation" href="#home" data-animation="fadeInDown"
               data-animation-delay="0.1s">
                <img class="logo_light" src="assets/images/logo_sm.png" alt="logo"/>
            </a>
        </nav>
    </div>
</header>
